.nav-list {
  display: flex;
  align-items: center;
}

.nav-list li {
  padding: 0 10px;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.footer {
  background-color: black;
  color: white;
  margin-right: 250px;
}

.footer form a {
  color: white;
}

.footer h3 a {
  color: white;
}

.button :hover {
  background-color: blue;
  display: inline;
  padding: 0 10px;
  transition: all 0.15s ease;
  color: white;
}

.button {
  padding: 0 20px;
  font-size: 18px;
  align-items: center;
}

h3 {
  color: cornflowerblue;
  text-transform: uppercase;
}

.ree {
  color: darkblue;
}

#top {
  margin-left: 750px;
  color: gold;
}

body ul a {
  display: flexbox;
  color: black;
  text-decoration: none;
}
