:root {
    --accent-color: #2196f3;
  --color-for-nothing: #ffffff;
  --just-color: #212121;
  --about-color: #757575;
}

body {
    font-family: "Roboto" "Raleway";
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list li :nth-of-type(1) {
  font-family: "Raleway", sans-serif;
}

.nav-list li {
  padding: 0 10px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.and {
  font-size: 26px;
}

.active {
  color: #2196f3;
}

.about-color{
  color: var(--about-color);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.about{
      font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 6%;
}

.web-1 {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
}



.button {
  padding: 0 20px;
  font-size: 18px;
}

.button ul li {
  text-decoration: none;
}

.button :nth-of-type(1) {
  background-color: #2196f3;
  width: 73px;
  border-radius: 4px;
  height: 38px;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  border: none;
  margin-left: 400px;
}

.button :nth-of-type(2) {
  width: 125px;
  height: 38px;
  border-radius: 4px;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
  border: none;
  margin-left: 0px;
}

.button :nth-of-type(3) {
  width: 112px;
  height: 38px;
  font-size: 16px;
  border-radius: 4px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
  border: none;
}

.button :nth-of-type(4) {
  width: 103px;
  height: 38px;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

.button :nth-of-type(5) {
  width: 130px;
  height: 38px;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

body ul a {
  display: flexbox;
  color: black;
  text-decoration: none;
}

header > ul {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

b + p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 19px;
}

.card {
  width: 370px;
  height: 404px;
  left: 215px;
  top: 1130px;
}

.stylesheet{
  text-decoration: none;
}

.footer {
  background-color: #2f303a;
  color: white;
  margin-right: 0px;
}

.footer form a {
  color: white;
  text-decoration: none;
}

.footer h3 a {
  color: white;
}